<!doctype html>
<html lang="fr">
    <head>
        <!-- meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- CSS -->
        <link rel="stylesheet" href="static/css/styles.css">
        <link rel="stylesheet" href="static/css/navbar.css">
        <link rel="stylesheet" href="static/css/footer.css">
        <link rel="stylesheet" href="static/css/compte.css">
        <link rel="stylesheet" href="static/bootstrap-5.0.2-dist/css/bootstrap.css">

        <link rel="icon" href="static/img/favicon.ico" />

        <title>ISI WEB 4 SHOP</title>
    </head>
    
    <body>
        {%  include 'navbar.twig' %}
        {%  include 'header.twig' %}

        <h1 class="h1 ps-5 pt-3">Mon compte</h1>

        <form  method="POST" action="" class="row g-3 p-5">
            <div class="col-md-6">
                <label for="surname" class="form-label h5">Nom</label>
               <input type="text" class="form-control" name="surname" value="{{ account_info.surname }}">
            </div>
            
            <div class="col-md-6">
                <label for="forname" class="form-label h5">Prénom</label>
                <input type="text" class="form-control" name="forname" value="{{ account_info.forname }}">
            </div>

            <div class="col-md-6">
                <label for="email" class="form-label h5">Email</label>
                <input type="text" class="form-control" name="email" value="{{ account_info.email }}">
            </div>

            <div class="col-md-6">
                <label for="phone" class="form-label h5">Téléphone</label>
                <input type="tel" class="form-control" name="phone" pattern="[0-9]{2}[0-9]{2}[0-9]{2}[0-9]{2}[0-9]{2}"value="{{ account_info.phone }}">  
            </div>
           
            <div class="col-10">
                <label for="add1" class="form-label h5">Adresse</label>
                <input type="text" class="form-control" name="add1" value="{{ account_info.add1 }}">
            </div>

            <div class="col-md-2">
                <label for="postcode" class="form-label h5">Code postal</label>
                <input type="text" class="form-control" name="postcode" value="{{ account_info.postcode }}">
            </div>

            <div class="col-12">
                <label for="add2" class="form-label h5">Complément d'adresse</label>
                <input type="text" class="form-control" name="add2" value="{{ account_info.add2 }}">
            </div>

            <div class="col-12">
                <label for="add3" class="form-label h5">Ville</label>
                <input type="text" class="form-control" name="add3" value="{{ account_info.add3 }}">
            </div>
           
            <div class="col-12">
                <input type="submit" name="update_account" value="Mettre à jour" class="btn btn-outline-primary"/>
            </div>
        </form>

        <form method="POST" action="" class="ps-5">
            <button type="submit" name="log_out" class="btn btn-outline-primary">Déconnexion</button>
        </form>

        {%  include 'footer.twig' %}
    </body>
</html>