<!doctype html>
<html lang="fr">
    <head>
        <!-- meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- CSS -->
        <link rel="stylesheet" href="static/css/styles.css">
        <link rel="stylesheet" href="static/css/navbar.css">
        <link rel="stylesheet" href="static/css/footer.css">
        <link rel="stylesheet" href="static/css/accueil.css">
        <link rel="stylesheet" href="static/bootstrap-5.0.2-dist/css/bootstrap.css">

        <link rel="icon" href="static/img/favicon.ico" />

        <title>ISI WEB 4 SHOP</title>
    </head>
    
    <body>
        {%  include 'navbar.twig' %}
        <header class="bg-image haccueil">
            <h1 class="display-1">ISI WEB 4 SHOP</h1>
            <h1 class="display-6 mt-5">Votre boutique comme à la maison</h1>
        </header>
        
        <div class="categories-accueil p-3">
            <a href="main.php?page=produits" class="categorie-accueil-link"> 
                <div class="paccueil d-flex justify-content-between">
                    <h2 class="titre-produits-accueil align-self-center ps-3">Tous nos produits</h2>
                    <img src="static/img/all_products.jpg" alt="Image de tous les produits" class="img-produits-accueil">
                </div>
            </a>

            <div class="row row-cols-1 row-cols-md-3 g-4 p-3 pt-0">
                {% for categorie in categories %}
                <div class="col">
                    <a href="main.php?page={{categorie.link}}" class="categorie-accueil-link">
                        <div class="card">
                            <img src="static/img/categorie{{categorie.id}}.jpg" class="card-img-top" alt="Image de catégorie">              
                            <h5 class="card-title text-center p-2">{{categorie.name}}</h5> 
                        </div>
                    </a>
                </div>
                {% endfor %}
            </div>
        </div>

        <div class="parallax">
            <div class="maison-container">
                <h1 class="titre-maison-accueil text-start">Fait maison</h1>
                <p class="texte-maison-accueil text-end">
                Chaque produit est imprégné de l'amour et du dévouement qui caractérisent les produits faits maison. 
                Notre engagement envers la qualité artisanale transparaît dans chaque étape de notre processus de fabrication. 
                En privilégiant des ingrédients soigneusement sélectionnés, nous assurons non seulement une expérience gustative exceptionnelle, mais également une confiance totale en ce que vous dégustez.</p>
            </div>
        </div>

        <div class="commentaires">
            <div class="p-3">
                <div class="">
                    <h1 class="h1 titre-commentaires-accueil text-center mb-5 mt-3">Ce que nos clients disent de nous</h1>

                    <div class="content-slider">
                        <div class="slider">
                            <div class="mask">
                                <ul>
                                    {% for commentaire in avis | slice(0,7) %}
                                    <li class="anim{{commentaire.id_review}}">
                                        <div class="titre-avis">{{commentaire.title}}</div>
                                        <div class="text-avis">{{commentaire.description}}</div>
                                        <div class="nameuser">- <i>{{commentaire.name_user}}</i></div>
                                    </li>
                                    {% endfor %}
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>

  
            
              
        {%  include 'footer.twig' %}
    </body>
</html>