<!doctype html>
<html lang="fr">
	<head>
		<!-- meta tags -->
		<meta charset="utf-8">
		<meta
		name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

		<!-- CSS -->
		<link rel="stylesheet" href="static/css/styles.css">
		<link rel="stylesheet" href="static/css/navbar.css">
		<link rel="stylesheet" href="static/css/footer.css">
		<link rel="stylesheet" href="static/css/admin.css">
		<link rel="stylesheet" href="static/bootstrap-5.0.2-dist/css/bootstrap.css">

		<link rel="icon" href="static/img/favicon.ico"/>

		<title>ISI WEB 4 SHOP</title>
	</head>

	<body>
		{%  include 'navbar.twig' %}
		{%  include 'header.twig' %}

		<h1 class="h1 my-5 text-center">Administration des commandes</h1>

		<div class="accordion p-5">
			{% for order in orders %}
				<div class="accordion-item">

					<h2 class="accordion-header" id="heading{{ order.id }}">
						<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse{{ order.id }}">
							<h3 class="h3 color1">Commande n°{{ order.id }}</h3>
						</button>
					</h2>

					<div id="collapse{{ order.id }}" class="accordion-collapse collapse" aria-labelledby="heading{{ order.id }}">
						<div class="accordion-body">
							<p><strong>Commande passée le :</strong> {{ order.date }}</p>
							<p><strong>Payé par :</strong> {{ order.payment_type }}</p>
							<p><strong>Nom :</strong> {{ order.lastname }}</p>
							<p><strong>Prénom : </strong>{{ order.firstname }}</p>
							<p><strong>Adresse email : </strong>{{ order.email }}</p>
							<p><strong>Adresse de livraison : </strong>{{ order.add1 }} {{ order.add2 }} {{ order.city }} {{ order.postcode }}</p>
							<p><strong>Numéro de téléphone : </strong>{{ order.phone }}</p>
							
							<h4 class="h4 color1">Produits commandés :</h4>
							<ul>
								{% for product in order.products %}
									<li>{{ product.name }} x {{ product.quantity }}</li>
								{% endfor %}
							</ul>

							<form method="POST" action="">
								<input type="hidden" name="order_id" value="{{ order.id }}"/>
								<input type="submit" name="validate_order" value="Valider la commande" class="btn btn-form"/>
							</form>
						</div>	
					</div>

				</div>
			{% endfor %}
		</div>

		{%  include 'footer.twig' %}
	</body>
</html>
