<!doctype html>
<html lang="fr">
	<head>
		<!-- meta tags -->
		<meta charset="utf-8">
		<meta
		name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

		<!-- CSS -->
		<link rel="stylesheet" href="static/css/styles.css">
		<link rel="stylesheet" href="static/css/navbar.css">
		<link rel="stylesheet" href="static/css/footer.css">
		<link rel="stylesheet" href="static/css/compte.css">
		<link rel="stylesheet" href="static/bootstrap-5.0.2-dist/css/bootstrap.css">

		<link rel="icon" href="static/img/favicon.ico"/>

		<title>ISI WEB 4 SHOP</title>
	</head>

	<body>
		{%  include 'navbar.twig' %}
		{%  include 'header.twig' %}
		{% if is_logged %}
			<form method="post" action="#" class="p-5 ps-0 pb-2">
				<div class="mb-3">
					<label for="firstname" class="form-label h5">Prénom</label>
					<p>{{info.forname}}</p>
				</div>
				<div class="mb-3">
					<label for="lastname" class="form-label h5">Nom</label>
					<p>{{info.surname}}</p>
				</div>
				<div class="mb-3">
					<label for="add1" class="form-label h5">Adresse</label>
					<p>{{info.add1}}</p>
				</div>
				<div class="mb-3">
					<label for="add2" class="form-label h5">Complément d'adresse</label>
					<p>{{info.add2}}</p>
				</div>
				<div class="mb-3">
					<label for="city" class="form-label h5">Ville</label>
					<p>{{info.add3}}</p>
				</div>
				<div class="mb-3">
					<label for="postcode" class="form-label h5">Code Postal</label>
					<p>{{info.postcode}}</p>
				</div>
				<div class="mb-3">
					<label for="email" class="form-label h5">Email</label>
					<p>{{info.email}}</p>
				</div>
				<input type="submit" name="payer_keep" value="Valider" class="btn btn-outline-primary"/>
			</form>
			<form method="post" action="#" class="p-5 ps-0 pb-2">
				<div class="mb-3">
					<label for="firstname" class="form-label h5">Prénom</label>
					<input type="text" class="form-control" name="firstname" value="prenom" required/>
				</div>
				<div class="mb-3">
					<label for="lastname" class="form-label h5">Nom</label>
					<input type="text" class="form-control" name="lastname" value="nom" required/>
				</div>
				<div class="mb-3">
					<label for="add1" class="form-label h5">Adresse</label>
					<input type="text" class="form-control" name="add1" value="add1" required/>
				</div>
				<div class="mb-3">
					<label for="add2" class="form-label h5">Complément d'adresse</label>
					<input type="text" class="form-control" name="add2"/>
				</div>
				<div class="mb-3">
					<label for="city" class="form-label h5">Ville</label>
					<input type="text" class="form-control" name="city" value="city" required/>
				</div>
				<div class="mb-3">
					<label for="postcode" class="form-label h5">Code Postal</label>
					<input type="text" class="form-control" name="postcode" value="01090" required/>
				</div>
				<div class="mb-3">
					<label for="email" class="form-label h5">Email</label>
					<input type="text" class="form-control" name="email" value="oui@gmail.com" required/>
				</div>
				<input type="submit" name="payer" value="Valider" class="btn btn-outline-primary"/>
			</form>
		{% else %}
			<form method="post" action="#" class="p-5 ps-0 pb-2">
				<div class="mb-3">
					<label for="firstname" class="form-label h5">Prénom</label>
					<input type="text" class="form-control" name="firstname" value="prenom" required/>
				</div>
				<div class="mb-3">
					<label for="lastname" class="form-label h5">Nom</label>
					<input type="text" class="form-control" name="lastname" value="nom" required/>
				</div>
				<div class="mb-3">
					<label for="add1" class="form-label h5">Adresse</label>
					<input type="text" class="form-control" name="add1" value="add1" required/>
				</div>
				<div class="mb-3">
					<label for="add2" class="form-label h5">Complément d'adresse</label>
					<input type="text" class="form-control" name="add2"/>
				</div>
				<div class="mb-3">
					<label for="city" class="form-label h5">Ville</label>
					<input type="text" class="form-control" name="city" value="city" required/>
				</div>
				<div class="mb-3">
					<label for="postcode" class="form-label h5">Code Postal</label>
					<input type="text" class="form-control" name="postcode" value="01090" required/>
				</div>
				<div class="mb-3">
					<label for="email" class="form-label h5">Email</label>
					<input type="text" class="form-control" name="email" value="oui@gmail.com" required/>
				</div>
				<input type="submit" name="payer" value="Valider" class="btn btn-outline-primary"/>
			</form>
		{% endif %}
		{%  include 'footer.twig' %}
	</body>
</html>
