<!doctype html>
<html lang="fr">
    <head>
        <!-- meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- CSS -->
        <link rel="stylesheet" href="static/css/styles.css">
        <link rel="stylesheet" href="static/css/navbar.css">
        <link rel="stylesheet" href="static/css/footer.css">
        <link rel="stylesheet" href="static/css/produit.css">
        <link rel="stylesheet" href="static/bootstrap-5.0.2-dist/css/bootstrap.css">

        <link rel="icon" href="static/img/favicon.ico" />

        <title>ISI WEB 4 SHOP</title>
    </head>
    
    <body>
        {%  include 'navbar.twig' %}

        <div class="mt-4 mx-5 ">
            <h1 class="h1 mb-5">{{product.name}}</h1>

            <div class="row align-items-center">
                <div class="col-4">
                    <img src="static/productimages/{{product.image}}" alt="Image du produit" class="img-fluid">
                </div>
                <div class="col-8">
                    <h3 class="h3">Description du produit :</h3>
                    <h5 class="h5">{{product.description}}</h5>

                    <h4 class="h4">Note moyenne : {{moyenne}}</h4>
                    <div class="d-flex justify-content-start">
                        {% for i in range(0,4) %}
                            {% if i < moyenne %}
                                <img src="static/productimages/review_star.png" alt="etoile" class="img-fluid stars">
                            {% else %}
                                <img src="static/productimages/review_gray.png" alt="etoile-grise" class="img-fluid stars">
                            {% endif %}
                        {% endfor %}
                    </div>

                    <h4 class="h4">Quantité disponible :</h4>
                    <h5 class="h5">{{product.quantity}}</h5>

                    <h4 class="prix mt-3 py-2">Prix à l'unité : {{product.price}} €</h4>

                    <div class="d-flex justify-content-start align-items-center">
                        <h4 class="h4 my-0 me-3">Choisissez la quantité voulue :</h4>                   

                        <form method="POST" action="" class="d-flex justify-content-start align-items-center">
                            <input type="hidden" name="product_id" value="{{product.id}}"/>
                            <input type="number" name="nb_quantity" value="1" min="1" max="{{product.quantity}}" class="form-control quantity me-2" required>
                            <button type="submit" class="btn btn-form">Ajouter au panier</button>
                        </form>
                    </div>
                </div>
            </div>

            <div class="toast-container position-fixed bottom-0 end-0 p-3">
                <div id="toastPanier" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
                    <div class="d-flex">
                        <div class="toast-body">
                            Votre produit a bien été ajouté au panier !
                        </div>
                        <button type="button" class="btn-close me-2 m-auto" data-bs-dismiss="toast" aria-label="Close"></button>
                    </div>
                </div>
            </div>


            <h2 class="h2">Avis sur le produit</h2>
            
            <h4 class="h4">Commentaires :</h4>
                {% for comment in avis %}
                    <div class="card mb-3 card-com">
                        <div class="card-header">
                            <div class="d-flex justify-content-start align-items-center">
                                <h5 class="h5 mb-0 me-2">{{comment.title}}</h5>
                                <div class="d-flex justify-content-start">
                                    {% for i in range(0,4) %}
                                        {% if i < moyenne %}
                                            <img src="static/productimages/review_star.png" alt="etoile" class="img-fluid stars-com">
                                        {% else %}
                                            <img src="static/productimages/review_gray.png" alt="etoile-grise" class="img-fluid stars-com">
                                        {% endif %}
                                    {% endfor %}
                                </div>
                            </div>
                            <h6 class="subtitle">{{comment.name_user}}</h6>
                        </div>
                        <div class="card-body card-com-body">
                            <p class="card-text">{{comment.description}}</p>
                        </div>
                    </div>
                {% endfor %}

            
        </div>

        {%  include 'footer.twig' %}

    </body>

    {% if toast == true %}
        <script>
            var toastElement = document.getElementById('toastPanier')
            var toast = new bootstrap.Toast(toastElement)
            toast.show()
        </script>
    {% endif %}

</html>